*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.box1{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar ul{
    padding-top: 1rem;
    word-spacing: .7rem;
}

.navbar ul li{
    display: inline;
    color: azure;
    border-bottom: solid 1px red;
    word-spacing: 0rem;
}

.container> h2{
    font-size: 1.4rem;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.box2 > p{
    order: 2;
    font-size: 1.5rem;
    height: 30vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box2 > img{
    order: 1;
    box-shadow: 10px 10px 4px rgb(211, 211, 211);
}

.showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
}

.showcase > img{
    padding: 4px 0px;
    max-width: 90vw;
}

.box3 > p{
    font-size: 1.5rem;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box3 .btn{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 .btn button{
    padding: 1rem 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 1.4rem;
    background-color: rgba(65, 235, 235, 0.404);
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0.753);
    transition: background 250ms ease-in-out, transform 150ms ease;
    border: none;
}

.btn button:active {
    transform: scale(0.99);
}

@media only screen and (min-width: 1000px){
    .container{
        position: relative;
        padding: 0;
        padding-bottom: 10rem;
    }

    .box1{
        display: flex;
    }

    .navbar ul{
        display: block;
        word-spacing: 1rem;
    }

    .navbar ul li{
        cursor: pointer;
        letter-spacing: .2rem;
        word-spacing: 0rem;
    }

    .container > h2{
        height: 400px;
        background-image: url("assets/adult-blonde-hair-facial-expression-681992.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center fixed;
        background-position-y: 29%;
        margin-top: 2rem;
        display: block;
        padding-left: 2%;
        padding-top: 7%;
        font-family: 'Comfortaa', cursive;
        font-weight: bolder;
        font-size: 1.7rem;
        letter-spacing: .2rem;
        color: rgba(0, 0, 109, 0.876);
    }

    .box2{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
        align-content: space-around;
        align-items: center;
        justify-content: center;
    }

    .introText{
        order: 1;
        height: auto;
        padding-left: 6rem;
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s all ease-in-out;
    }

    .intro-appear{
        opacity: 1;
        transform: translateY(0px);
    }

    .box2 img{
        order: 2;
        margin: auto;
    }

    .showcase{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 1rem;
        justify-content: center;
    }

    .showcase > img{
        max-height: 748px;
        max-width: 500px;
        height: 100vh;
    }
}