*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aliceblue;
}

ul{
    list-style: none;
}

body{
    background-image: linear-gradient(-57deg,#7303c0,#03001e,#7303c0,#ec38bc,#03001e7c,#fdeff9,#03001e7c,#ec38bc,#7403c0,#7303c0,#03001ed0);
    background-color: lightslategrey;
    font-family: 'Montserrat', sans-serif;
    color: ivory;
}

.box1{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar ul{
    padding: 2.5rem 0 1.2rem 0;
    word-spacing: .7rem;
}

.navbar ul li{
    display: inline;
    color: azure;
    border-bottom: solid 1px ivory;
    word-spacing: 0rem;
    padding-bottom: .2rem;
}

.container> h2{
    font-size: 1.4rem;
    height: 50vh;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.box2 > p{
    order: 2;
    font-size: 1.5rem;
    height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imageSlice{
    order: 1;
    display: flex;
    box-shadow: 10px 10px 4px rgb(211, 211, 211);
    height: 600px;
    width: 400px;
}
.imageSlice img{
    height: 600px;
    width: 200px;
}

.showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
}

.showcase > img{
    padding: .5rem 0px;
    width: 90vw;
}

.box3 > p{
    font-size: 1.5rem;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box3 .btn{
    height: 30vh;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 .btn button{
    padding: 1rem 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.849);
    cursor: pointer;
    border: none;
    color: black;
    transition: background 250ms ease-in-out, transform 150ms ease;
    border: none;
}

.btn button:active {
    transform: scale(0.99);
}

@media only screen and (min-width: 1000px){
    /* body{
        background-image: linear-gradient(-57deg,#03001e,#7303c0,#ec38bc,#fdeff9,#ec38bc,#7303c0,#03001e);
        background-image: linear-gradient(-57deg,#7303c0,#03001e,#7303c0,#ec38bc,#03001e7c,#fdeff9,#03001e7c,#ec38bc,#7403c0,#7303c0,#03001ed0);
    } */
    .container{
        position: relative;
        padding: 0;
        padding-bottom: 10rem;
    }

    .box1{
        display: flex;
    }

    .navbar ul{
        display: block;
        word-spacing: 1rem;
    }

    .navbar ul li{
        cursor: pointer;
        letter-spacing: .2rem;
        word-spacing: 0rem;
    }

    .container > h2{
        height: 400px;
        background-image: url("assets/adult-blonde-hair-facial-expression-681992.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center fixed;
        background-position-y: 29%;
        margin-top: 2rem;
        display: block;
        padding-left: 1%;
        padding-top: 4%;
        font-family: 'Lobster', cursive;
        font-weight: bolder;
        font-size: 1.7rem;
        letter-spacing: .2rem;
        color: rgba(0, 0, 109, 0.876);
    }

    .box2{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
        align-content: space-around;
        align-items: center;
        justify-content: center;
    }

    .introText{
        order: 1;
        height: auto;
        padding-left: 6rem;
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s all ease-in-out;
    }

    .intro-appear{
        opacity: 1;
        transform: translateY(0px);
    }

    .imageSlice{
        order: 2;
        display: flex;
        align-items: center;
        margin: auto;
        height: 540px;
        box-shadow: none;
    }

    .imageSlice:hover .left {
        transform: translateY(0px);
      }
      .imageSlice:hover .right {
        transform: translateY(0px);
      }

    .imageSlice img{
        height: 500px;
    }

    .left{
        transform: translateY(10px);
        transition: 500ms ease-out;
    }

    .right{
        transform: translateY(-10px);
        transition: 500ms ease-out;
    }

    .showcase{
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: .5rem;
    }

    .showcase > img{
        height: 640px;
        width: auto
    }
}